//Nav
//-----

//--Main Colours
$main-gray:#ecf0f1;


//--Nav Colours
$proColour:#e74c3c;
$colColour:#35cf76;
$sideColour:#409edd;


//Mixins
//--------

@mixin transition($transition){
	-webkit-transition: $transition;
	   -moz-transition: $transition;
        -ms-transition: $transition;
            transition: $transition;
}

@mixin box-shadow($box-shadow){
	-webkit-box-shadow: $box-shadow;
	   -moz-box-shadow: $box-shadow;
        -ms-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
}

@mixin transform($transform){
	-webkit-transform: $transform;
	   -moz-transform: $transform;
        -ms-transform: $transform;
            transform: $transform;
}

//Fonts
//-------

//--Family
$main-font:'Lato';
$title-font:'Waiting for the Sunrise', cursive;

//--Font Colour
$font-colour:#999;

//--Font size
$title-font-size:36px;