//Footer
//-------

.foot-wrap{
	padding:5px;
	margin-top: 40px;
	width:100%;
	height: 200px;
	border:solid $main-gray;
	border-width: 1px 0px 0px 0px; 
}

.footbox{
	padding:5px 5px;
	text-align: center;
	margin-bottom: 10px;

	img{
		margin: 30px 10px 30px 10px;
		height: 50px;
	}

	h4{
		border-bottom: 1px solid $main-gray;
		padding-bottom:15px;
	}
}

.centre-bar{
	border:solid $main-gray;
	border-width: 0px 1px 0px 1px;

	@media(max-width:768px){
		border-width: 1px 0px 1px 0px;
	}
}