$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//Bootstap Variables Sass-File (Copy)// Modify Here 
@import "_variablesOverride.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


//Nav
//Active Tabs

.mainActive{
	background-color:#fff;
	color:#999;
}
.navMain:hover{}

.proActive{
	background-color:#35cf76 !important;
	color:#fff !important;
}
.navPro:hover{background-color:#35cf76 !important;}

.colActive{
	background-color:#e74c3c !important;
}
.navCol:hover{background-color:#e74c3c !important;}

.sideActive{
	background-color:#409edd !important;
}
.navSide:hover{background-color:#409edd !important;}


//Navbar
.navbar-default{border-top:0px !important;}

.proActiveNav{border-bottom:#35cf76 2px solid};
.colActiveNav{border-bottom:#e74c3c 2px solid};
.sideActiveNav{border-bottom:#409edd 2px solid};
.defaultActiveNav{};
