$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "_custom.scss";
//Bootstap Variables Sass-File (Copy)// Modify Here 
@import "_variablesOverride.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Fonts
//------
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

//Parcials
//----------
@import "_nav.scss";
@import "_port-styles.scss";
@import "_homepage.scss";
@import "_footer.scss";
@import "_animate.scss";
@import "_contact-form.scss";

body{
	font-family: $main-font;
}

html {
	//Show scrollbar (chrome) to stop site moving when content is less than height of screen (Annoying)
    overflow-y: scroll; 
    color: $font-colour;
}