<div class="foot-wrap animated slideInUp">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 footbox">
				<h4>This site was built with</h4>
				<p>HTML5</p>
				<p>CSS3</p>
				<p>Bootstrap</p>
				<p>SASS</p>
				<p>AngularJS</p>
				<i class="fa fa-github fa-2x"></i>
				<p><a href="https://github.com/GeraghtyBrian/PersonalPortfolio" target="blank">View this sites source code here.</a><p>
			</div>
			<div class="col-xs-12 col-md-4 footbox centre-bar">
				<h4>My tools</h4>
				<img src="images/icons/sublime-text.svg" alt="">
				<img src="images/icons/chrome.svg" alt="">
				<img src="images/icons/con-emu.svg" alt="">
				<img src="images/icons/coffee-cup.svg" alt="">
			</div>
			<div class="col-xs-12 col-md-4 footbox">
				<h4>Me</h4>
				<p>Brian Geraghty</p>
				<p>Under-Graduate Web Developer/Programmer</p>
				<p>brian_geraghty@outlook.com</p>
				<p>(353) 86 3993478</p>
			</div>
		</div>
	</div>
</div>