<div ng-controller="NavCtrl">
	<nav class="navbar navbar-default" ng-class="{proActiveNav: isActive('/proWork'),colActiveNav: isActive('/colWork'),sideActiveNav: isActive('/sideWork')}" role="navigation" >
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ng-click="nav.setActiveTab(0)" class="navbar-brand" href="#/">Brian Geraghty</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
				    <li class="navPro" ng-class="{proActive: isActive('/proWork')}">
				        <a href="#/proWork"><i class=""></i>Professional Work</a>
				    </li>
				    <li class="navCol" ng-class="{colActive: isActive('/colWork')}">
				        <a href="#/colWork"><i class=""></i>College Work</a>
				    </li>
				    <li class="navSide" ng-class="{sideActive: isActive('/sideWork')}">
				        <a href="#sideWork"><i class=""></i>Side Work</a>
				    </li>
				</ul>
				<div class="personal-links pull-right">
					<a href="https://github.com/GeraghtyBrian" target="blank"><i class="fa fa-github fa-3x nav-git"></i></a>
					<a href="https://www.linkedin.com/in/bgeraghty1" target="blank"><i class="fa fa-linkedin-square fa-3x nav-linked"></i></a>
					<a href="https://www.facebook.com/brian.geraghty" target="blank"><i class="fa fa-facebook-official fa-3x nav-facebook"></i></a>
				</div>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
</div>