<div ng-controller="ColWorkCtrl">
	<div ng-repeat="item in collegeWork">
		<div class="container">
			<div class="row">
				<h2 class="col-xs-6">{{item.name}}</h2><h3 class="pull-right">{{item.subject}}</h3>
			</div>
			<h3>Brief</h3>
			<p>{{item.brief}}</p>
			<h3>Description</h3>
			<p>{{item.description}}</p>
		</div>
		<div class="port-image">
			<div class="port-image-hover"></div>
			<img ng-src="{{item.image}}" alt="">
		</div>
		<div class="container">
			<p class="text-center"><a href="{{item.gitLink}}" target="blank"><i class="fa fa-github fa-lg"></i> View on GitHub</a></p>
		</div>
	</div>
</div>