<div class="container text-center">
	<div class="row bio">
		<div class="col-xs-12 col-md-2 bio-pic">
			<img class="img-circle" src="images/profilePic.jpg">
		</div>
		<div class="col-xs-12 col-md-10 bio-decrition">
			<div class="text-left"><h1>Hi, im Brian</h1></div>
		</div>
	</div>
</div>
<div>
	<div class="tech-used-byme">
		<div class="container">
			<div class="row tech-header"><h2>Technologies I've Used</h2></div>
			<img src="images/icons/html-5.svg">
			<img src="images/icons/css-3.svg">
			<img src="images/icons/javascript.svg">
			<img src="images/icons/angular-icon.svg">
			<img src="images/icons/bootstrap.svg">
			<img src="images/icons/dotnet.svg">
			<img src="images/icons/github-octocat.svg">
			<img src="images/icons/grunt.svg">
			<img src="images/icons/bower.svg">
			<img src="images/icons/yeoman.svg">
			<img src="images/icons/sass.svg">
			<div class="row"><h3>And ...</h3></div>
			<img src="images/icons/stackoverflow.svg">
		</div>
	</div>
</div>
