<div class="container">
	<div class="row bio animated fadeIn">
		<div class="col-xs-12 col-md-3 bio-pic">
			<img class="img-rounded img-responsive" src="images/profilePic.jpg">
		</div>
		<div class="col-xs-12 col-md-9 bio-description">
			<div>
				<h2>Hi, im Brian ...</h2>
				<p>Im an under-graduate student with a passion for development and technology.</p>
				<p>My main focus is in web-development and responsive design</p>
				<h2 class="text-right">... Lets Work Together</h2>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="animated slideInUp">
		<div class="tech-used-byme ">
			<div class="container">
				<div class="row"><h2 class="tech-header">Technologies I've Worked With</h2></div>
				<img src="images/icons/html-5.svg">
				<img src="images/icons/css-3.svg">
				<img src="images/icons/javascript.svg">
				<img src="images/icons/angular-icon.svg">
				<img src="images/icons/bootstrap.svg">
				<img src="images/icons/dotnet.svg">
				<img src="images/icons/github-octocat.svg">
				<img src="images/icons/grunt.svg">
				<img src="images/icons/bower.svg">
				<img src="images/icons/yeoman.svg">
				<img src="images/icons/sass.svg">
				
			</div>
		</div>
		<div ng-include="'views/contactForm.html'"></div>	
	</div>
	

</div>

<div ng-include="'views/componants/footer.html'"></div>